<h1>Dashboard</h1>

<h2>Articles:</h2>
<ul>
  <% @articles.each do |article| %>
    <li class="article"><%= article.title %></li>
  <% end %>
</ul>

<h2>Comments:</h2>
<ul>
  <% @comments.each do |comment| %>
    <li class="comment"><%= comment.created_at %></li>
  <% end %>
</ul>
