<h1><%= @tag ? "Articles Tagged '#{@tag}'" : "All Articles" %></h1>

<%= link_to "New Article", new_article_path, :class => 'new_article' %>

<div id="sidebar">
  Filter by Tag: <%= tag_links(Tag.all) %>
</div>

<%= react_component("ArticleList", {articles: @articles.as_json}) %>
