<h1><%= @tag ? "Articles Tagged '#{@tag}'" : "All Articles" %></h1>

<%= link_to "New Article", new_article_path, :class => 'new_article' %>

<div id="sidebar">
  Filter by Tag: <%= tag_links(Tag.all) %>
</div>

<ul id="articles">
  <% @articles.each do |article| %>
    <%= react_component("Article", {article: article.as_json, tagList: article.tag_list, commentsCount: pluralize(article.comments.count, "Comment")}) %>
  <% end %>
</ul>
